@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wocwwi');
  src:  url('fonts/icomoon.eot?wocwwi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wocwwi') format('truetype'),
    url('fonts/icomoon.woff?wocwwi') format('woff'),
    url('fonts/icomoon.svg?wocwwi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\e905";
}
.icon-refresh-ccw:before {
  content: "\e900";
}
.icon-save:before {
  content: "\e901";
}
.icon-log-out:before {
  content: "\e902";
}
.icon-refresh-cw:before {
  content: "\e903";
}
.icon-play:before {
  content: "\e904";
}
.icon-happy2:before {
  content: "\e9e0";
}
.icon-sad2:before {
  content: "\e9e6";
}
